{{> usernavbar}}

  <main>
    <div class="section">
      <div class="container">

        <h1 class="header center cyan-text text-lighten-2">Shiggle's Leaderboard</h1>
        <div class="center" id="leaderboard">
          <div class="ui ordered list" id="leadertitle">
            <h5>{{first}}</h5>
            <h5>{{second}}</h5>
            <h5>{{third}}</h5>
            <h5>{{fourth}}</h5>
            <h5>{{fifth}}</h5>
          </div>
          <div id="yourRank">
            <h3>{{user-rank}}</h3>
          </div>
        </div>
      </div>      
    </div>
  </main>

{{> footer}}
